@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap";

:root {
  --rosa-claro: #feebee;
  --rosa-escuro: #f68597;
  --azul-claro: #bbe4e5;
  --azul-medio: #8fd3d5;
  --azul-escuro: #4bb9ba;

  --header-height: 80px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--azul-claro);
  color: var(--azul-escuro);
  padding-top: var(--header-height);
  min-height: 100vh;
}

.container {
  max-width: calc(1256px + 2rem);
  padding: 0 2rem;
  width: 100%;
  margin: 0 auto;
}

/* Header */
.app-header {
  background-color: var(--rosa-claro);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: var(--header-height);
}

.app-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  height: 100%;
}

.desktop-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.desktop-nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-nav-links li {
  margin: 0 15px;
}

.desktop-nav-links a {
  position: relative;
  margin-bottom: 8px;
  text-decoration: none;
  color: var(--rosa-escuro);
  font-size: 18px;
}

.desktop-nav-links a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--azul-escuro);
  bottom: 0;
  left: 0;
  transform: translateY(4px);
}

.desktop-nav-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-toggle {
  display: none;
  cursor: pointer;
  margin-left: 150px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--rosa-escuro);
  transition: 0.3s;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  bottom: 0;
  width: 250px;
  background-color: var(--rosa-claro);
  padding-top: 75px;
  z-index: 15;
  transition: transform 0.3s ease;
}

.sidebar.show {
  transform: translateX(250px);
}

.sidebar-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.sidebar-nav-links li {
  margin: 20px 0;
}

.sidebar-nav-links a {
  text-decoration: none;
  color: var(--rosa-escuro);
  font-size: 18px;
}

.sidebar-nav-links a.active::after {
  font-weight: bold;
}

.sidebar-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 1023px) {
  .desktop-nav {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .sidebar {
    display: block;
  }
}

/* Footer */
/* Envolve o conteúdo principal */
.content {
  flex: 1;
}

/* Estilo do footer */
footer {
  background-color: var(--azul-escuro);
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 40px;
  margin-right: 10px;
}

.footer-right p {
  margin: 0 0 10px 0;
  color: #fff;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  width: 188px;
}

.social-icons a img {
  height: 24px;
  margin: 0 10px;
}

.social-icons a {
  text-decoration: none;
}

/* Botao */
.botao {
  border: none;
  outline: none;
  font-weight: 900;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.botao:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.botao:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.botao.pequeno-rosa {
  background-color: var(--rosa-escuro);
  color: white;
  border-radius: 20px;
}

.botao.pequeno-azul {
  background-color: var(--azul-escuro);
  color: white;
  border-radius: 20px;
}

.botao.pequeno-branco {
  background-color: white;
  padding: 8px 30px;
  border-radius: 10px;
  color: var(--rosa-escuro);
}

.botao.branco-letra-azul {
  background-color: white;
  color: var(--azul-escuro);
  width: 320px;
  height: 110px;
  font-size: 45px;
}

.botao.branco-letra-rosa {
  background-color: white;
  color: var(--rosa-escuro);
  width: 320px;
  height: 110px;
  font-size: 45px;
}

.botao.rosa-letra-branca {
  background-color: var(--rosa-escuro);
  color: white;
  width: 280px;
  height: 100px;
  padding: 15px;
  font-size: 45.984px;
  display: block;
  margin: 0 auto;
}
