.home-hero-container {
  background-color: #e4e4e4;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .home-hero-container {
    background-color: #fcdce1;
  }
}

.home-hero-container .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  position: relative;
  height: calc(95vh - var(--header-height));
  min-height: 600px;
}

.home-hero__texts {
  flex: 1 1 416px;
  width: 100%;
  max-width: 472px;
  margin-top: 15%;
}

.home-hero__texts .svg-blob {
  position: absolute;
  left: -25%;
  top: -40%;
  z-index: 1;
  max-width: 1100px;
  width: 100vw;
  min-width: 880px;
}

.home-hero__texts .svg-blob img {
  width: 100%;
  height: 100%;
}

.home-hero__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: center;
}

.home-hero__content h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 3.75rem;
}

.home-hero__content h1 span {
  color: #d16d7d;
}

.home-hero__content p {
  color: #ffffff;
  max-width: 400px;
  width: 100%;
  font-weight: 500;
}

.home-hero__content .social-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.home-hero__content .social-icons img {
  width: 22px;
  height: auto;
}

.home-hero__img__container {
  display: flex;
  flex: 1 1 670px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.home-hero__img {
  margin-top: auto;
  height: 100%;
}

.home-hero__img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

@media(max-width: 1149px) {
  .home-hero__texts {
    max-width: none;
    flex-basis: 0%;
  }

  .home-hero__content {
    max-width: 472px;
  }

  .home-hero__img {
    height: 100%;
    width: 100%;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .home-hero__texts {
    margin-top: 25%;
  }

  .home-hero__texts .svg-blob {
    top: -155px;
    width: 100%;
    left: -175px;
    min-width: 750px;
  }

  .home-hero__content h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .home-hero__img img {
    object-fit: initial;
  }
}

.app-missao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  background: var(--azul-claro);
  flex-wrap: wrap;
}

.app-missao div {
  text-align: center;
  max-width: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.app-missao h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--azul-escuro);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  /* Espaço abaixo do título */
  margin-top: 30px;
}

#apoio-maes h1 {
  width: 302px;
  height: 92px;
}

#unindo-doadores h1 {
  width: 301px;
  height: 62px;
}

#kits-transformam-vidas h1 {
  width: 336px;
  height: 48px;
}

.app-missao p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--azul-escuro);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  /* Espaço acima do parágrafo */
}

#apoio-maes p {
  width: 300px;
  height: 76.452px;
}

#unindo-doadores p {
  width: 254px;
  height: 88px;
}

#kits-transformam-vidas p {
  width: 299px;
  height: 90px;
}

/* Adiciona um ajuste responsivo */
@media (max-width: 1024px) {
  .app-missao {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.app-participar-doacao {
  width: 100%;
  height: 1000px;
  flex-shrink: 0;
  background: #daf1f2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.svg-detalhe-ondinha {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.container-preciso-ajuda {
  background: var(--azul-claro);
}

.container-quero-ajuda {
  background: #fcdce1;
}

.container-preciso-ajuda,
.container-quero-ajuda {
  border-radius: 30px;
  width: 472px;
  height: 581px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  position: relative;
}

.container-preciso-ajuda h1 {
  width: 300px;
  color: var(--azul-escuro);
  text-align: center;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.container-preciso-ajuda p {
  display: flex;
  width: 408px;
  height: 163px;
  flex-direction: column;
  justify-content: center;
  color: var(--azul-escuro);
  text-align: center;
  font-size: 24px;

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.container-quero-ajuda h1 {
  color: var(--rosa-escuro);
  text-align: center;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.container-quero-ajuda h1::after {
  content: "AJUDAR";
  display: block;
}

.container-quero-ajuda p {
  display: flex;
  width: 408px;
  height: 163px;
  flex-direction: column;
  justify-content: center;
  color: var(--rosa-escuro);
  text-align: center;
  font-size: 24px;

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .app-participar-doacao {
    flex-direction: column;
    /* Alinha os contêineres verticalmente */
    height: auto;
    /* Ajusta a altura automaticamente */
    padding: 20px 0;
    /* Espaçamento na parte superior e inferior da seção */
  }

  .container-preciso-ajuda,
  .container-quero-ajuda {
    width: 90%;
    /* Ajusta a largura dos contêineres para telas pequenas */
    height: auto;
    /* Deixa a altura flexível */
    margin: 20px auto;
    /* Centraliza e adiciona margens */
    margin-top: 50px;
  }
}

.app-conhecer-ajudados {
  width: 100%;
  /* height: 100%; */
  flex-shrink: 0;
  padding: 20px;
  overflow-x: scroll;

  h1 {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    color: var(--rosa-escuro);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
  }

  span {
    color: var(--azul-escuro);
  }

  .container-ajudados {
    width: 1400px;
    height: 850px;
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    border-radius: 60px;
    background: #daf1f2;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    overflow: scroll;

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }

  .container-ajudados img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 30px;
    flex-wrap: wrap;
  }

  .container-ajudados p {
    width: 100%;
    color: var(--azul-escuro);
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .content-abaixo-de-ajudados {
    margin-top: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    /* Define como flexbox */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */

    @media (max-width: 768px) {
      flex-direction: column;
    }

    span {
      width: 500px;
      height: 100px;
      justify-content: space-between;
      font-size: 43px;
      font-style: normal;
      font-weight: 400;
      line-height: 43.624px;
      word-wrap: break-word;
      margin-right: 100px;

      @media (max-width: 768px) {
        margin-right: 0;
        width: 100%;
        margin-bottom: 25%;
      }
    }
  }
}

.app-voluntarie-se {
  width: 100%;
  height: 526px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  /* Centraliza o conteúdo horizontalmente */
  align-items: center;
  /* Centraliza o conteúdo verticalmente */
  background-color: #daf1f2;
  /* Adicionei uma cor de fundo suave */
  margin-bottom: 10px;
}

.container-voluntarie-se {
  width: 649px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.container-voluntarie-se h1 {
  font-size: 32px;
  /* Tamanho ajustado para proporção do container */
  font-weight: bold;
  margin-bottom: 20px;
  /* Espaçamento inferior entre o título e o parágrafo */
  color: #4cb9b9;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Montserrat;
  font-size: 43px;
  font-style: normal;
  font-weight: 800;
  line-height: 43.624px;
  /* 101.451% */
  text-transform: uppercase;
}

.container-voluntarie-se p {
  width: 609px;
  color: #4bb9ba;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  /* Espaçamento inferior entre o parágrafo e o botão */

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.container-voluntarie-se button {
  width: 410px;
  height: 119px;
  background-color: #fff;
  /* Cor de fundo do botão */
  border: none;
  border-radius: 27.591px;
  display: flex;
  justify-content: center;
  /* Centraliza o texto dentro do botão */
  align-items: center;
  /* Centraliza verticalmente */
  cursor: pointer;
  margin-top: 20px;
  /* Espaçamento superior entre o botão e o parágrafo */

  @media (max-width: 768px) {
    width: 200px;
    height: 80px;
  }
}

.container-voluntarie-se button a {
  width: 372px;
  height: 42px;
  flex-shrink: 0;
  text-decoration: none;
  color: #f68597;
  font-family: Montserrat;
  font-size: 33px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  @media (max-width: 768px) {
    font-size: 17px;
  }
}

.container-voluntarie-se button:hover {
  background-color: #eaeef1;
}

.img-carousel {
  display: none;
}

@media (max-width: 768px) {
  .img-carousel {
    display: block;
  }

  .container-ajudados {
    display: none !important;
  }

  .img-um {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .img-um img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
  }
}

.image-container {
  position: relative;
  z-index: 1;
}

.text-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  z-index: 2;
  transition: top 0.5s ease-in-out;
}

.text-overlay.show {
  top: 0;
}

.pull-up-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.pull-up-btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.pull-up-btn:focus {
  outline: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #f00;
}

.btn-show {
  display: none;
}

.arrow-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid white;
  /* Change color as needed */
  transform: rotate(0deg);
  /* Default: down arrow */
}

/* Add custom properties to control rotation for direction */
.arrow-icon[data-direction="up"] {
  transform: rotate(180deg);
}

.arrow-icon[data-direction="right"] {
  transform: rotate(90deg);
}

.arrow-icon[data-direction="left"] {
  transform: rotate(270deg);
}

.arrow-icon:hover {
  border-bottom-color: gray;
  /* Change color on hover */
}
