.home-hero-container {
  background-color: #e4e4e4;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home-hero-container .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  position: relative;
  height: calc(95vh - var(--header-height));
  min-height: 600px;
}

.home-hero__texts {
  flex: 1 1 416px;
  width: 100%;
  max-width: 472px;
  margin-top: 15%;
}

.home-hero__texts .svg-blob {
  position: absolute;
  left: -25%;
  top: -40%;
  z-index: 1;
  max-width: 1100px;
  width: 100vw;
  min-width: 880px;
  pointer-events: none;
}

.home-hero__texts .svg-blob img {
  width: 100%;
  height: 100%;
}

.home-hero__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: center;
}

.home-hero__content h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 3.75rem;
}

.home-hero__content h1 span {
  color: #d16d7d;
}

.home-hero__content p {
  color: #ffffff;
  max-width: 400px;
  width: 100%;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
}

.home-hero__content .social-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.home-hero__content .social-icons img {
  width: 22px;
  height: auto;
}

.home-hero__img__container {
  display: flex;
  flex: 1 1 670px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.home-hero__img {
  margin-top: auto;
  height: 100%;
}

.home-hero__img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

@media(max-width: 1149px) {
  .home-hero__texts {
    max-width: none;
    flex-basis: 0%;
  }

  .home-hero__content {
    max-width: 472px;
  }

  .home-hero__img {
    height: 100%;
    width: 100%;
  }
}

@media(max-width: 1023px) {
  .home-hero__img img {
    transform: translateX(18rem);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .home-hero__texts {
    margin-top: 25%;
  }

  .home-hero__texts .svg-blob {
    top: -155px;
    width: 100%;
    left: -175px;
    min-width: 750px;
  }

  .home-hero__content h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .home-hero__img img {
    object-fit: initial;
    transform: translateX(0);
  }
}

.app-missao {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 50px 40px;
  background: var(--azul-claro);
  flex-wrap: wrap;
}

.app-missao div {
  text-align: center;
  max-width: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.app-missao img {
  height: 160px;
}

.app-missao .svg-dedos-tocando {
  max-width: 234px;
  width: 100%;
}

.app-missao h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--azul-escuro);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  margin-top: 30px;
}

#apoio-maes h1 {
  width: 302px;
  height: 92px;
}

#unindo-doadores h1 {
  width: 301px;
  height: 62px;
}

#kits-transformam-vidas h1 {
  width: 336px;
  height: 48px;
}

.app-missao p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--azul-escuro);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#apoio-maes p {
  width: 300px;
  height: 76.452px;
}

#unindo-doadores p {
  width: 254px;
  height: 88px;
}

#kits-transformam-vidas p {
  width: 299px;
  height: 90px;
}

/* Adiciona um ajuste responsivo */
@media (max-width: 1024px) {
  .app-missao {
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 1.5rem;
  }
}

.app-participar-doacao {
  width: 100%;
  background: #daf1f2;
  position: relative;
  padding: 180px 0;
}

.app-participar-doacao .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1140px;
}

@media(max-width: 1058px) {

  .app-participar-doacao .container {
    justify-content: center;
  }
}

.app-participar-doacao .botao {
  max-width: 320px;
}

.svg-detalhe-ondinha {
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.card-participar-doacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.25rem;
  padding: 5rem 2rem;
  border-radius: 30px;
  height: 100%;
  max-height: 580px;
  max-width: 472px;
  width: 100%;
}

.container-preciso-ajuda {
  background: var(--azul-claro);
}

.container-quero-ajuda {
  background: #fcdce1;
}

.card-participar-doacao h1 {
  text-align: center;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 2.75rem;
  line-height: normal;
}

.card-participar-doacao p {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 408px;
  width: 100%;
  height: 163px;

  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .card-participar-doacao {
    padding: 3.5rem 1rem;
  }

  .card-participar-doacao h1 {
    font-size: 2rem;
  }

  .card-participar-doacao p {
    font-size: 1.25rem;
    height: auto;
    margin: 1rem 0;
  }

  .card-participar-doacao .botao {
    font-size: 2rem;
    height: auto;
    padding: 1.5rem;
    border-radius: 22px;
  }
}

.container-preciso-ajuda h1 {
  color: var(--azul-escuro);
}

.container-preciso-ajuda p {
  color: var(--azul-escuro);
}

.container-quero-ajuda h1 {
  color: var(--rosa-escuro);
}

.container-quero-ajuda p {
  color: var(--rosa-escuro);
}

.app-conhecer-ajudados {
  width: 100%;
  flex-shrink: 0;

  h1 {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    color: var(--rosa-escuro);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1.2;
  }

  span {
    color: var(--azul-escuro);
  }

  .container-ajudados {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    border-radius: 60px;
    background: #daf1f2;
    margin: auto;
    margin-top: 50px;
    padding: 50px;

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }

  .container-ajudados img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 30px;
    flex-wrap: wrap;
  }

  .container-ajudados p {
    width: 100%;
    color: var(--azul-escuro);
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .content-abaixo-de-ajudados {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    span {
      max-width: 500px;
      height: 100%;
      justify-content: space-between;
      font-size: 43px;
      font-style: normal;
      font-weight: 400;
      line-height: 43.624px;
      word-wrap: break-word;
      margin-right: 100px;

      @media (max-width: 768px) {
        margin-right: 0;
        width: 100%;
        margin-bottom: 25%;
      }
    }
  }
}

.app-conhecer-ajudados .carousel {
  max-width: 1440px;
  margin: 0 auto;
  --bs-carousel-indicator-active-bg: var(--azul-escuro);
}

#carousel-conhecer-ajudados .carousel-control-prev,
#carousel-conhecer-ajudados .carousel-control-next {
  position: static;
  --bs-carousel-control-icon-filter: brightness(0) saturate(100%) invert(91%) sepia(86%) saturate(1663%) hue-rotate(143deg) brightness(79%) contrast(80%);
}

#carousel-conhecer-ajudados .carousel-control-next-icon,
#carousel-conhecer-ajudados .carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
}

#carousel-conhecer-ajudados .carousel-indicators {
  position: static;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

#carousel-conhecer-ajudados .carousel-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-abaixo-de-ajudados .botao {
  max-width: 320px;
}

.app-voluntarie-se {
  width: 100%;
  padding: 6rem 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #daf1f2;
  margin-bottom: 10px;
}

.container-voluntarie-se {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 630px;
}

.container-voluntarie-se h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #4cb9b9;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  font-family: Montserrat, sans-serif;
  font-size: 43px;
  font-style: normal;
  font-weight: 800;
  line-height: 43.624px;
  text-transform: uppercase;
}

.container-voluntarie-se p {
  width: 609px;
  color: #4bb9ba;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.container-voluntarie-se .botao {
  font-size: 2rem;
  width: max-content;
}

@media (max-width: 768px) {
  .container-voluntarie-se h1 {
    font-size: 2.25rem;
  }

  .container-voluntarie-se .botao {
    width: 100%;
  }
}

.card-ajudados {
  display: flex;
  gap: 1.5rem;
}

.card-ajudados img {
  max-width: 393px;
  width: 100%;
  border-radius: 8px;
}

.card-ajudados p {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 500;
  margin-top: 0.25rem;
}

@media (max-width: 920px) {
  .card-ajudados {
    flex-direction: column;
    align-items: center;
  }

  .card-ajudados img {
    height: 100%;
    max-height: 424px;
    object-fit: cover;
    object-position: top;
  }

  .card-ajudados p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .app-conhecer-ajudados.container {
    padding: 0 1rem;
  }

  .app-conhecer-ajudados h1 {
    font-size: 2.25rem;
  }

  .card-ajudados p {
    font-size: 1.125rem;
  }

  #carousel-conhecer-ajudados .carousel-control-next-icon,
  #carousel-conhecer-ajudados .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
  }

  .img-carousel {
    display: block;
  }

  .container-ajudados {
    display: none !important;
  }

  .img-um {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .img-um img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
  }
}

.image-container {
  position: relative;
  z-index: 1;
}

.text-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  z-index: 2;
  transition: top 0.5s ease-in-out;
}

.text-overlay.show {
  top: 0;
}

.pull-up-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.pull-up-btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.pull-up-btn:focus {
  outline: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #f00;
}

.btn-show {
  display: none;
}

.arrow-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid white;
  /* Change color as needed */
  transform: rotate(0deg);
  /* Default: down arrow */
}

/* Add custom properties to control rotation for direction */
.arrow-icon[data-direction="up"] {
  transform: rotate(180deg);
}

.arrow-icon[data-direction="right"] {
  transform: rotate(90deg);
}

.arrow-icon[data-direction="left"] {
  transform: rotate(270deg);
}

.arrow-icon:hover {
  border-bottom-color: gray;
  /* Change color on hover */
}
