/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografia e corpo */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #feebee;
}


/* Estrutura principal */
.container-main {
  display: flex;
  flex-direction: column;
}

/* Seções */
.section {
  padding: 60px 20px;
}

.fundo-claro {
  background-color: #feebee;
  color: #d16d7d;
    & h1{
    font-weight: bold;
  }
}

.fundo-escuro {
  background-color: #8deced;
  color: #4bb9ba;
    & h1{
    font-weight: bold;
  }
}

/* Centralização de conteúdo */
.content-center {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* Texto das seções */
.section-text {
  order: 2; /* sempre aparece à direita */
}

.section-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text-sobre {
  font-size: 1.1rem;
  line-height: 1.8;
}

/* Imagens */
.content-center img {
  /* flex: 1 1 500px; */
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  order: 1; /* sempre aparece à esquerda */
}

/* Vídeo */
#introducao-sobre iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
    & h1{
    font-weight: bold;
  }
}

#introducao-sobre {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
    & h1{
    font-weight: bold;
  }
}

/* Introdução */
.introducao {
  order: 2;
  & h1{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  & p{
    line-height: 1.8;
    font-size: 1.1rem;
  }
}


/* Responsividade */
@media (max-width: 768px) {
  .content-center,
  #introducao-sobre {
    flex-direction: column;
    align-items: center;
  }

  .section-text,
  .content-center img,
  .introducao,
  #introducao-sobre iframe {
    order: initial; /* volta à ordem natural em telas pequenas */
  }

  .section-text {
  order: 2; /* sempre aparece à direita */
}

  .content-center img {
  flex: 1 1 500px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  order: 1; /* sempre aparece à esquerda */
}

/* Centralização de conteúdo */
.content-center {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}


}

