
  <footer>
    <div class="footer-container">
      <div class="footer-left">
        <img src="./assets/LogoTexto.png" alt="LogoText" class="footer-logo" />
      </div>
      <div class="footer-right">
        <p>Acompanhe nas redes</p>
        <div class="social-icons">
          <a target="_blank" href="https://www.instagram.com/abraceumrn/">
            <img src="./assets/instagram.svg" alt="Instagram" />
          </a>
          <a target="_blank" href="https://abrir.link/bOXtq">
            <img src="./assets/wpp.svg" alt="WhatsApp" />
          </a>
        </div>
      </div>
    </div>
  </footer>
