<div class="cards">
  <div class="card-esquerda">
    <a href="/doar-dinheiro" class="card">
      <img src="assets/Icone-doar-em-dinheiro.svg" alt="" />
      <div class="content-card">
        <h3>DOAÇÃO EM DINHEIRO</h3>
        <p>
          Contribua com qualquer valor para a compra de itens essenciais, como
          kits de higiene e enxoval, ou para ajudar a cobrir custos
          operacionais, como transporte e manutenção da sede.
        </p>
      </div>
    </a>
  </div>

  <div class="card-centro">
    <a href="/doar-usados" class="card">
      <img src="assets/Icone-doar-usados.svg" alt="" />
      <div class="content-card">
        <h3>DOAÇÃO DE ITENS USADOS</h3>
        <p>
          Doe roupas, brinquedos e outros itens de bebê que você não usa mais.
          Esses itens serão entregues diretamente às mães que precisam de ajuda.
        </p>
      </div>
    </a>
  </div>

  <div class="card-direita">
    <a href="/doar-lojinha" class="card">
      <img src="assets/Icone-lojinha.svg" alt="" />
      <div class="content-card">
        <h3>COMPRE NA LOJINHA</h3>
        <p>
          Apoie o projeto comprando produtos customizados na nossa lojinha. Todo
          o dinheiro arrecadado com as vendas será revertido para as ações
          sociais, ajudando ainda mais mães a cuidarem dos seus bebês.
        </p>
      </div>
    </a>
  </div>
</div>
