.botao {
  border: none;
  outline: none;
  font-weight: 900;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.pequeno-rosa {
    background-color: var(--rosa-escuro);
    color: white;
    border-radius: 20px;
  }

  &.pequeno-azul {
    background-color: var(--azul-escuro);
    color: white;
    border-radius: 20px;
  }

  &.pequeno-branco {
    background-color: white;
    padding: 8px 30px;
    border-radius: 10px;
    color: var(--rosa-escuro);
  }

  &.branco-letra-azul {
    background-color: white;
    color: var(--azul-escuro);
    width: 320px;
    height: 110px;
    font-size: 45px;
  }

  &.branco-letra-rosa {
    background-color: white;
    color: var(--rosa-escuro);
    width: 320px;
    height: 110px;
    font-size: 45px;
  }

  &.rosa-letra-branca {
    background-color: var(--rosa-escuro);
    color: white;
    width: 280px;
    height: 100px;
    padding: 15px;
    font-size: 45.984px;
    display: block; /* Torna o botão um bloco, necessário para margin auto */
    margin: 0 auto; /* Centraliza horizontalmente */

    @media (max-width: 768px) {
      width: 100%;
    }

  }
}
