.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--rosa-claro);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 75px;
}

.spacer {
  flex: 1;
}

.logo {
  margin-left: 20px;
}

.desktop-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.desktop-nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-nav-links li {
  margin: 0 15px;
}

.desktop-nav-links a {
  position: relative;
  margin-bottom: 8px;
  text-decoration: none;
  color: var(--rosa-escuro);
  font-size: 18px;
}

.desktop-nav-links a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--azul-escuro);
  bottom: 0;
  left: 0;
  transform: translateY(4px);
}

.nav-toggle {
  display: none;
  cursor: pointer;
  margin-left: 150px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--rosa-escuro);
  transition: 0.3s;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  bottom: 0;
  width: 250px;
  background-color: var(--rosa-claro);
  padding-top: 75px;
  z-index: 15;
  transition: transform 0.3s ease;
}

.sidebar.show {
  transform: translateX(250px);
}

.sidebar-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.sidebar-nav-links li {
  margin: 20px 0;
}

.sidebar-nav-links a {
  text-decoration: none;
  color: var(--rosa-escuro);
  font-size: 18px;
}

.sidebar-nav-links a.active::after {
  font-weight: bold;
}

.sidebar-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .desktop-nav {
    display: block;
  }

  .nav-toggle {
    display: none;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .sidebar {
    display: block;
  }
}
