.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.botao {
  background-color: #4bb9ba; /* Cor desejada */
  border-radius: 25px; /* Bordas arredondadas */
  padding: 12px 24px; /* Aumenta o tamanho do botão */
  font-size: 18px; /* Aumenta o texto */
  font-weight: bold; /* Deixa o texto mais destacado */
  color: white; /* Cor do texto */
  transition: background-color 0.3s ease; /* Efeito de transição */
}

.botao:hover {
  background-color: #3a9a8a; /* Cor do botão ao passar o mouse */
}
